.container {
  width: 710px;
  
}

body, h1 {
    color: #4E4C4C;
}

body {
  background: fff;
}

header {
  padding-top: 20px;
}

section {
  margin-top: 1.5em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
  border: 1px solid #B2D234;
}

section h1 {
  font-size: 200%;
}

tbody tr:nth-child(2n) td, tbody tr.even td {
    background: none repeat scroll 0 0 #fff;
}

/* Logo */

#logo {
  padding: 10px;
  background: #B2D234;
  color: #fff;  
  font-size: 36px;  
  font-weight: bold;   
  text-decoration:none;  
}

/* Links */

.nav a, .nav a:hover, .nav a:visited, .nav a:focus {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: #B2D234;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a.nav:visited {
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #2AAFDC;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #2AAFDC;
  color: #fff;
}

.profile img.gravatar {
  border: 1px solid #2AAFDC;
  margin-bottom: -15px;
}

/* User form */

div.field, div.actions {
  margin-bottom: 5px;
  color: #4E4C4C;
}

/* Error */

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #F172AC;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 1px solid #F172AC;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #F172AC;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Users on 'users#index' page*/

ul.users {
  margin-bottom: 0;
}

.users li {
  list-style: none;
}

/* Pagination */

.digg_pagination {
    margin: 0.5em 0 1em 0;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.01em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #B2D234;
    color: white;
    border: 1px solid #B2D234; }
  .digg_pagination a {
    text-decoration: none;
    color: #B2D234;
    border: 1px solid #B2D234; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #2AAFDC;
      border-color: #2AAFDC; }
  .digg_pagination .page_info {
    background: #B2D234;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #2AAFDC;
      background:#2AAFDC;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
    
/* Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 2em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}